@{
  Layout = "_Layout";
}
@using System.Security.Claims

<h1>Welcome to Pierre's Treats!</h1>

<hr />

<div>
  @if (User.Identity.IsAuthenticated)
  {
    <p>@Html.ActionLink("Log out", "Index", "Account")</p>
  }
  else
  {
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    <p>@Html.ActionLink("Register an Account", "Register", "Account")</p>
  }
</div>